{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":494,"scrollleft":0,"selection":{"start":{"row":11,"column":9},"end":{"row":11,"column":9},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1569579640439,"hash":"b2e01d04dfa019f8b124aa1c523543aafc84da6e"}